h1,
h2,
h3,
label,
th,
td {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  margin: 0;
  background: url("../images/hogwarts.jpg");
  /*background-size: auto auto;*/
  background-repeat: no-repeat;
}

@font-face {
  font-family: HARRYP__;
  src: url(HARRYP__.TTF);
}

h1 {
  font-family: HARRYP__;
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

.jumbotron {
	background: url("../images/clouds.jpg");
  	background-size: 100% 100%;
	background-repeat: no-repeat;
  	background-position: 50% 20%;
  	padding: 20px;
  	min-height: 20vw;
}

h2 {
  font-size:30px;	
}

.modal{
	/*display: none;*/
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content{
	background-color: #f4f4f4;
	margin: 20% auto;
	padding: 10px;
	width: 75%;
	/*box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);*/
	animation-name: modalopen;
	animation-duration: 1s;
}

.modal-header, .modal-footer{
	background: #c34113;
	color:#fff;
}

.closeBtn{
	float: right;
	font-size: 30px;
}

.closeBtn:hover,closBtn:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen{
	from{opacity: 0}
	to {opacity: 1}
}